<section>
  <ul>
    <li><a href="/channel/chat">Basic chat</a></li>
    <li><a href="/channel/drawing">Drawing board</a></li>
    <li><a href="/channel/pinboard">Photo pinboard</a></li>
  </ul>
</section>