body, html, table, form, ul, ol, li, dt, dd, dl, fieldset {
  padding:0;
  margin:0;
}

body {
  font-family: 'Lucida Grande', helvetica, sans-serif;
  font-size: 12px;
  text-align: center;
  background: #123;
}
fieldset {
  border-width: 0;
}
.rounded {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
.shadowed {
  -webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.8);
  -moz-box-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}
#wrapper {
  text-align: left;
  margin:0 auto;
  width: 900px;
  padding-top: 20px;
}
#main {
  border: solid silver 10px;
  background: #eee;
  position: relative;
}
h1 {
  padding: 0 20px;
}
#primary {
  padding: 20px;
}

#status {
  padding: 3px 1em;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
  border-width: 3px;
  border-style: solid;
  text-align: center;
}
#status.connected {
  color: green;
  border-color: green;
}
#status.disconnected {
  color: red;
  border-color: red;
}
#status.connected,
#status.disconnected {
  -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}

/* Chat
-------------------------------*/
#messages {
  margin-bottom: 20px;
  max-height: 200px;
  overflow: auto;
  font-size: 20px;
  font-family: monospace;
  
  background: black;
  color: #1BAE1A;
  padding: 10px;
}
#messages li {
  margin-bottom: 5px;
  margin-left: 20px;
}

input[type=text] {
  font-size: 20px;
  padding: .25em;
}

/* Drawing
-------------------------------*/
#canvas {
  background: black;
}

/* Pinboard
--------------------------------*/
#images{
  margin: 5px;
  border: 1px solid black;
/*  width: 968px;*/
  background: white;
}

#images img {
  float: left;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  height: 200px;
  width: 200px;
}

/* Hacks 
--------------------------------*/

/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}
